*{
    box-sizing: border-box;
}
/* GLOBAL */
html, body{
    font-family: 'Times New Roman', Times, serif;
}
.clear{
    clear: both;
}
/* HEADER */
.header img{
    width: 250px;
}

.header ul{
    list-style: none;
    background-color: black;
    padding: 15px 0;
    margin: 5px 0 1-px;
}

.header a{
text-decoration: none;
color: white;
font-size: 18px;

}

.header ul li{
    display: inline;
   margin: 0 10px;
   }

/* CAROUSEL */
.carousel{
    background-image:url(./img/slider_1.jpg) ;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* INTRODUCTION */
.intro__text{
    font-size: 20px;
    margin: 20px 0 40px ;
}
.intro__text span{
    color:red;
    font-weight: bold;
}
.intro__left,.intro__right{
    float: left;
    width: 50%;
}
.smallItem{
    float: left;
    width: 50%;
}
.intro__item{
    padding: 0 15px 25px;
}
.intro__item img{
    width: 100%;
    display: block;
   }

/* PRODUCT */
.products{
    margin-bottom: 70px;
}
.products h2{
    text-align: center;
    font-size: 30px;
}
.products__item{
    float: left;
    width: 25%;
    padding: 0 10px ;
  }
.products__item img{
    width: 100%;
}
.products__item h3{
    font-size: 20px;
}
.products__item p{
    font-size: 17px;
}
.products__item button{
    background-color: red;
    border: 1px solid red;
    color: white;
    padding: auto;
    border-radius: 3px;
    margin-top: 15px;
}

/* BANNER */
.banner{
    background-image: url(./img/nature.jpg);
    height: 400px;
    /* background-repeat: no-repeat; */
   position: relative;
    background-size:cover;
}
.banner__circle{
width: 300px;
height: 300px;
/* rgba */
background-color: rgba(192, 46, 44, 0.808);
color: white;
border-radius: 50%;
text-align: center;
/* opacity: 0.8; lam mo the chua no va tat ca the con trong no*/
position: absolute;
/* top, right, bottom, left */
top: 15px;
left: 340px;
}
.banner__circle p{
    font-size: 20px;
    margin: 0 0 20px 0;
    
}
.banner__circle p:first-child {
    font-size: 30px;
    margin: 50px 0 0;
}
.banner__circle p:nth-child(2) {
    font-size: 80px;
    margin: 0;
}

/* SERVICES */
.services{
    margin: 30px 0 20px;
}

.services__content{
    width: 70%;
    /* Do rong 70% so voi the cha-daddy de co the chuyen ra vi tri o giua, dung margin auto + width */
    /* 100-70=30% */
    margin: auto;
    border:1px solid rgb(223, 220, 220);
    /* margin-left,right: 15%; */
    text-align: center;
}

.services__item{
    float: left;
    width: 33.33%;
    padding: 0 10px;
    /* su dung padding , ko su dung margin de gian cach cac the service item vi minh su dung thuoc tinh FLOAT, tranh de bi thieu cho */
}
.services__item i{
    font-size: 40px;
    color: brown;
}
.services__item h2{
    margin: 10px 0;
}

.services__item p{
    margin: 0;
}

/* FOOTER */
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    }
.footer h2, p{
    margin: 0;
    }
    .footer h2{
        font-size: 30px;
    }